# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Logs
*.log

# Eclipse
.project
.classpath
.settings/
bin/

# VS Code
.vscode/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# OS Files
.DS_Store
Thumbs.db

# Java
*.class

# Lombok generated
*.lombok.config
